<div class="col-sm-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Recommended Github Users</h3>
    </div>
    <button type="button" class="btn btn-info pull-right refresh">Refresh</button>
    <div class="panel-body">
      <div class="col-sm-6">
        <div class="media">
          <div class="media-left">
            <a href="#">
              <img class="media-object" ng-src="{{step9.suggestion1.avatar_url}}" alt="...">
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading">{{step9.suggestion1.login}}</h4> ...
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <button type="button" class="btn btn-danger pull-right close">X</button>
      </div>
    </div>
  </div>

</div>


<div class="col-sm-12">

  <div class="btn-group" role="group" aria-label="...">
    <button type="button" class="btn btn-default"><a href="/#/step8">Prev</a></button>
    <button type="button" class="btn btn-default"><a href="/#/step10">Next</a></button>
  </div>

</div>
