<div class="col-sm-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Recommended Github Users</h3>
    </div>
    <button type="button" class="btn btn-info pull-right refresh">Refresh</button>
    <div class="panel-body">
    </div>
  </div>

</div>


<div class="col-sm-12">

  <div class="btn-group" role="group" aria-label="...">
    <button type="button" class="btn btn-default"><a href="/#/step7">Prev</a></button>
    <button type="button" class="btn btn-default"><a href="/#/step9">Next</a></button>
  </div>

</div>
