<div class="col-sm-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Recommended Github Users</h3>
    </div>
    <button type="button" class="btn btn-info pull-right refresh">Refresh</button>
    <div class="panel-body col-sm-12">
      <div class="media">
        <div class="media-left">
          <a ng-href="{{step10.suggestion1.html_url}}" target="_blank">
            <img class="media-object" ng-src="{{step10.suggestion1.avatar_url}}">
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading">{{step10.suggestion1.login}}</h4>
          <button class="btn btn-success">Follow</button>
          <div class="close-button pull-right">
            <button type="button" class="btn btn-danger pull-right close1">X</button>
          </div>
        </div>
      </div>
    </div>
    <div class="panel-body col-sm-12">
      <div class="media">
        <div class="media-left">
          <a ng-href="{{step10.suggestion2.html_url}}" target="_blank">
            <img class="media-object" ng-src="{{step10.suggestion2.avatar_url}}">
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading">{{step10.suggestion2.login}}</h4>
          <button class="btn btn-success">Follow</button>
          <div class="close-button pull-right">
            <button type="button" class="btn btn-danger pull-right close2">X</button>
          </div>
        </div>
      </div>
    </div>
    <div class="panel-body col-sm-12">
      <div class="media">
        <div class="media-left">
          <a ng-href="{{step10.suggestion3.html_url}}" target="_blank">
            <img class="media-object" ng-src="{{step10.suggestion3.avatar_url}}">
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading">{{step10.suggestion3.login}}</h4>
          <button class="btn btn-success">Follow</button>
          <div class="close-button pull-right">
            <button type="button" class="btn btn-danger pull-right close3">X</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-sm-12">
  <div class="btn-group" role="group" aria-label="...">
    <button type="button" class="btn btn-default"><a href="/#/step9">Prev</a></button>
  </div>
</div>
